<div>
    <h2 id="page-heading">
        <span jhiTranslate="lecturePlannerApp.slide.home.title">Slides</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-slide-route-service" [routerLink]="['/slide-route-service/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lecturePlannerApp.slide.home.createLabel">
            Create new Slide
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="slides">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="number"><span jhiTranslate="lecturePlannerApp.slide.number">Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timing"><span jhiTranslate="lecturePlannerApp.slide.timing">Timing</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="text"><span jhiTranslate="lecturePlannerApp.slide.text">Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lectureId"><span jhiTranslate="lecturePlannerApp.slide.lecture">Lecture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let slide of slides ;trackBy: trackId">
                <td><a [routerLink]="['/slide-route-service', slide.id, 'view' ]">{{slide.id}}</a></td>
                <td>{{slide.number}}</td>
                <td>{{slide.timing}}</td>
                <td>{{slide.text}}</td>
                <td>
                    <div *ngIf="slide.lectureId">
                        <a [routerLink]="['../lecture-route-service', slide.lectureId , 'view' ]" >{{slide.lectureId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/slide-route-service', slide.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/slide-route-service', slide.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'slide-route-service/'+ slide.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="slides && slides.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
